#todoList :hover {
    background-color: rgba(31, 121, 255, 0.771);
    color: #fff;
    transition: all .25s;
    cursor: pointer;
}

/* #todoList>li::after {
    content: "...";
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
} */

#todoList>li {
    position: relative;
    animation: liAnimation .3s;
}

#todoList>.marked {
    background-color: yellowgreen;
    color: #fff;
    text-decoration: line-through;
    text-decoration-thickness: 10%;
    transition: all .4s;
}

@keyframes liAnimation {
    from {
        top: -14px;
    }

    50% {
        top: 7px;
    }

    to {
        top: 0px;
    }
}


/* Context Menu */
.context-menu {
    position: absolute;
    z-index: 10;
    display: none;

}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
}

.menu>li {
    list-style-type: none;
}

.menu>li>a {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.menu>li>a:hover {
    background: #f1f3f7;
    color: #4b00ff;
}

.menu>li>a>i {
    padding-right: 10px;
}

.menu>li.trash>a:hover {
    color: red;
}